.HomeComponent {
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  width: 45%;
  height: 80%;
  flex-direction: column;
  border: 1px solid;
  border-radius: 20px;
  box-shadow: 3px 4px 8px black;
}

.HomeHead {
  background-color: rgb(10 113 179 / 80%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid;
  border-radius: 20px 20px 0 0;
  height: 15%;
}

.HomeBody {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
}

.HomeFoot {
  background-color: rgb(71 135 135 / 80%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-top: 1px solid;
  border-radius: 0 0 20px 20px;
  height: 15%;
}