@media screen and (max-width: 685px) {

    /* Estilos específicos para telas menores que 600px */
    .HomeTextDiv img {
        display: none;
    }

    .TopMenu {
        display: flex;
        flex-direction: column;
    }

    .HomeTextDiv p {
        line-height: 25px;
        font-size: 15px;
    }

    .HomeBody p {
        line-height: 25px;
        font-size: 15px;
    }
}