* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

:root {
    --LightColor1: rgb(73, 197, 219);
    --DarkColor1: rgb(9, 70, 101);
}
body {
    display: flex;
    height: 100vh;
    width: 100%;
}

#root {
    flex: 1;
}
